<div class="container">

    <br/>
    <br/>

    <div class="row">
        <div class="col-9">
            <h2>Employees Table</h2>
        </div>

        <!-- button to go to Add employee page using router link -->
        <div class="col">
            <button type="button" class="btn btn-success" routerLink="addEmployee" style="background-color: #609966;"><i class="bi bi-plus-circle"></i> &nbsp; Add Employees</button>
        </div>
    </div>
    <br/>

    <!-- creating a table and checking if employees exist -->
    <table *ngIf="employees.length > 0" class="table table-striped" style="background-color: #EDF1D6;">
        <thead>
            <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>

            <!-- using ng for to display all the employees data inside the table -->
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.employeeName}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.country}}</td>
                
                <td>
                    <!-- button to go to edit employee page using routerLink -->
                    <button type="button" class="btn btn-dark" routerLink="editEmployee/{{employee.id}}"><i class="bi bi-pencil"></i> &nbsp; Edit</button>
                    &nbsp; &nbsp;
                    <!-- button to delete the employee from the table -->
                    <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)"><i class="bi bi-trash"></i> &nbsp; Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>